# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/

# ---- Віртуальні середовища ----
.venv/
venv/
env/
ENV/

# ---- Логи ----
*.log

# ---- Конфіг/секрети ----
.env
.env.*
*.ini
*.cfg
*.json

# ключові секрети
service_account.json
*.session
*.session-journal
*.sqlite3
*.sqlite3-journal

# ---- IDE ----
.idea/
.vscode/
*.iml

# ---- Системні файли ----
.DS_Store
Thumbs.db
/db_dump/post_watchdog.sqlite3.invite_status.columns.csv
/monitor_files.zip
/db_dump/post_watchdog.sqlite3.ad_samples.columns.csv
/post_watchdog.sqlite3.bak.1757577836
/db_dump/post_watchdog.sqlite3.channels.columns.csv
/db_dump/post_watchdog.sqlite3.invite_check.columns.csv
/db_dump/post_watchdog.sqlite3.invite_map.columns.csv
/db_dump/post_watchdog.sqlite3.link_queue.columns.csv
/db_dump/post_watchdog.sqlite3.links.columns.csv
/db_dump/post_watchdog.sqlite3.membership.columns.csv
/db_dump/post_watchdog.sqlite3.monitor_channels.columns.csv
/db_dump/post_watchdog.sqlite3.monitors.columns.csv
/db_dump/post_watchdog.sqlite3.post_template.columns.csv
/db_dump/post_watchdog.sqlite3.post_watch.columns.csv
/db_dump/post_watchdog.sqlite3.requested_check.columns.csv
/db_dump/post_watchdog.sqlite3.rowcounts.tsv
/db_dump/post_watchdog.sqlite3.schema.sql
/db_dump/post_watchdog.sqlite3.settings.columns.csv
/db_dump/post_watchdog.sqlite3.sqlite_master.tsv
/db_dump/post_watchdog.sqlite3.sqlite_sequence.columns.csv
/db_dump/post_watchdog.sqlite3.url_cache.columns.csv
/post_watchdog.sqlite3-shm
/post_watchdog.sqlite3-wal
/db_dump/db_schema_dump.zip
/tg_monitor_clean.zip
/imports.txt
/posts_watch_result.sqlite3-shm
/app_deps.txt
/Oops.rej
/Oops.rej.orig
/posts_watch_result.sqlite3-wal
/app/flows/batch_links/process_links.py.orig
/tg_monitor_release_clean_fixed_makefile.zip
/post_watchdog.sqlite3.bak
