[Unit]
Description=Telegram Post Watchdog v13
After=network.target

[Service]
WorkingDirectory=/opt/tg_monitor_package
ExecStart=/opt/tg_monitor_package/.venv/bin/python tg_post_watchdog.py
Restart=always
RestartSec=10
User=YOURUSER
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
